{% trans_default_domain 'FOSUserBundle' %}



<div class="col-md-12">



        <form action="{{ path("fos_user_security_check") }}" method="post">
            {% if csrf_token %}
                <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
            {% endif %}

            {#<label for="username">{{ 'security.login.username'|trans }}</label>#}

            <div class="col-md-5 menu-input-col">
            <input type="text" class="form-control" id="username" name="_username" value="{{ last_username }}" required="required" placeholder="Email" />
            </div>
            <div class="col-md-3 menu-input-col">
            {#<label for="password">{{ 'security.login.password'|trans }}</label>#}
            <input type="password" class="form-control" id="password" name="_password" required="required" placeholder="Mot de passe"/>
            </div>

            {#<input type="checkbox" id="remember_me" name="_remember_me" value="on" />#}
            {#<label for="remember_me">{{ 'security.login.remember_me'|trans }}</label>#}


            {% if error %}
                {#<div class="alert alert-danger" role="alert">{{ error.messageKey|trans(error.messageData, 'security') }}</div>#}



                <div class="col-md-2 menu-input-col" >
                    <input type="submit" class="input_login_button alert alert-danger" id="element" name="_submit" value="{{ 'security.login.submit'|trans }}" data-trigger="focus" data-container="body" data-toggle="popover" data-placement="bottom" data-content="{{ error.messageKey|trans(error.messageData, 'security') }}" />
                </div>
                {% if compteur is defined %}
                    <input class="compteur" type="hidden" data-content="{{ compteur }}">
                {% endif %}


            {% else %}

                <div class="col-md-2 menu-input-col">
                    <input type="submit" class="input_login_button" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans }}" />
                </div>
            {% endif %}
        </form>
</div>

