{#{{ dump() }}#}

    {% if photos is empty %}

        {{ erreur }}

    {% else %}
         <div class="col-md-12 container_grid_photo">
            {% for photo in photos %}
                <div class="col-md-3 photo_case">
                    <div class="col-md-12 photo_grid_each" photoid="{{ photo.id }}">
                        <div class="col-md-12 validate_icon text-center">
                            <i class="fa fa-check-circle valider_click_photo" aria-hidden="true"></i>
                        </div>
                        <i class="fa fa-times-circle delete_photo_grid" aria-hidden="true" photoid="{{ photo.id }}"></i>
                        <img src="uploads/photo/{{ photo.path }}" class="img-responsive image_photo_grid">
                        <div class="col-md-12 photo_caracteristique">
                            <div class="col-md-12">
                                <h5>Ajouté le {{ photo.dateUpload|date("m/d/Y") }} </h5>
                            </div>
                            <div class="col-md-12">
                                <h5> {{ (photo.fileSize / 1024)|number_format  }} Ko </h5>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
         </div>

    {% endif %}
